<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<frameset rows="80px,*,20px" border="0" frameborder="0" framespacing="0" marginwidth="0" marginheight="0">

<frame name="header" src="#" scrolling="no">

<frameset cols="200px,*" border="0" frameborder="0" framespacing="0">

<frame name="menu" src="errors.html" scrolling="auto">

<frame name="main" src="errors.html" scrolling="auto">

</frameset>

<frame name="footer" src="#" scrolling="no">

</frameset>
</html>